<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Car Brand</th>
      <th scope="col">Car Model</th>
      <th scope="col">Licence Plate Number</th>
      <th scope="col">Registration Expiry Date</th>
      <th scope="col">Driver Name</th>
    </tr>
  </thead>
  <!-- <tbody>
    <tr *ngFor="let car of fleetCars">
      <td>{{ car.carModel.carBrand.brandName }}</td>
      <td>{{ car.carModel.modelName }}</td>
      <td>{{ car.numberPlate }}</td>
      <td>{{ car.expiryDate }}</td>
      <td>{{ car.driverName }}</td>
    </tr>
  </tbody> -->
</table>
